/*body, .header-navbar.fixed-topm, .main-menu.menu-light, .main-menu.menu-light .navigation {
	background: #e3e8ee !important;
}
.header-navbar.fixed-top 
{
  box-shadow: none !important;
  background: #e3e8ee!important;
  width: 1100px;
  margin: 0 auto;
  left: 0;
}
.app-content.content {
    width: 1100px;
    margin: 0 auto;
}
.main-menu.menu-light .navigation>li.active:not(.sidebar-group-active)>a {
    background: rgba(57, 76, 98, 0.2);
    color: rgb(57, 76, 98);
}


body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu
{
	left: 130px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .footer {
    margin-left: 367px !important;
}
body.vertical-layout.vertical-menu-modern .main-menu{
	border:none;
}

.form-label-group
{
      margin-bottom: 2.5rem;
}*/

body
{
    direction: ltr !important;
}

.table-responsive.flooma-table {
    position: relative;
}
.flooma-table .dt-buttons {
    position: absolute;
    right: 0;
}
.flooma-table .dt-buttons button.dt-button
{
    background-color: #E6EAEE;
    color: #475F7B!important;  
    display: inline-block;
    color: #727E8C;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: .467rem 1.5rem;
    font-size: 1rem;
    line-height: 1.6rem;
    border-radius: .267rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    outline:  none;
}
.flooma-table .dt-buttons button.dt-button:hover
{
    background-color: #506B8B!important;
    color: #FFF!important;  
}
.flooma-table div.dataTables_wrapper div.dataTables_filter
{
  text-align: left !important;
}

.flooma-card-table .card-header.d-flex.justify-content-between {
    border-bottom: 1px solid #f1f1f1;
    background: #fafafa;
    padding-bottom: 0;
}

.flooma-card-table div#DataTables_Table_0_info
{
  position: absolute;
}
.flooma-btn {
    background: transparent !important;
}
.flooma-btn:hover
{
  background: unset !important;
  color: unset !important;
}
img.flooma-table-image {
    border-radius: 50%;
    object-fit: cover;
}
img.flooma-table-image.user {
    width: 35px;
    height: 35px;
}

.main-menu.menu-light .navigation>li.active:not(.sidebar-group-active)>a, .main-menu.menu-light .navigation>li ul .active>a
{
  background: rgb(230, 234, 238) !important;
  color: rgb(57, 76, 98) !important;  
}

.main-menu.menu-light .navigation>li.nav-item.open>a i, .main-menu.menu-light .navigation>li.nav-item.sidebar-group-active>a i
{
  color: rgb(57, 76, 98) !important; 
}




img {object-fit: cover;}

section.empty-records {
    margin: 200px auto;
    width: 40%;
    text-align: center;
}

.no-data-image {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.no-data-msg {
    font-size: 20px;
    margin-top: 22px;
    color: #8494a7;
}

.checkbox input:checked~label:after,
.radio label::after
{
  border-color: #475f7b !important;
}

.nav.nav-pills~.tab-content, .pills-stacked .tab-content,
.nav.nav-pills .nav-item .nav-link.active, .nav.nav-tabs .nav-item .nav-link.active
{
  box-shadow: unset !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: #E6EAEE !important;
    color: #475F7B!important;
    font-weight: 500;  
}

.custom-online-avatar {
    background: unset !important;
}
.table-online-status {
    left: 50% !important;
}
.user-status-show-backend {
    margin-left: 8px;
}
.ssb-section {
    background: #fff;
    padding: 30px 15px;
    text-align: center;
    border-radius: .267rem;
}

.no-record-sub {
    text-align: center;
    margin: 8rem 0;
}

.no-record-sub img {
    width: 90px;
    object-fit: cover;
    opacity: 0.5;
}
.no-record-sub h4 {
    font-size: 16px;
    color: #727E8C;
    margin: 20px 0;
}

.header-navbar
{
    box-shadow: unset !important;
    background: #f2f4f4 !important;
}

.add-new-lang a {
    display: block;
    text-align: center;
    padding: 2rem 0;
    border: 1px dashed #ccc;
    background: #f0f0f0;
    color: #444;
    border-radius: 4px;
}
.add-new-lang a img {
    margin: 0 auto;
    margin-bottom: 10px;
}
.language .table thead tr {
    border-bottom: 1px solid #DFE3E7 !important;
}