body
{
	direction: rtl !important;
}
.header-navbar.fixed-top
{
	right: 260px !important;
	left: 0 !important;
}

html body .content,
body.vertical-layout.vertical-menu-modern.menu-expanded .footer
{
	margin-right: 260px !important;
	margin-left: 0 !important;
}